body {
  padding: var(--space-md);
  background: var(--color-accent-base);

  .app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #fff;
  }
}

