.app {
  min-height: 100vh;
  background-color: #fff;
  padding: var(--space-sm);

  @include tablet {
    padding: var(--space-x-hg);
  }

  .container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
  }
}


