.grid {
    display: grid;
    grid-auto-flow: dense;
    grid-gap: $theme-baseline * 10;
    grid-template-columns: repeat(1, auto);

    @include tablet {
        grid-template-columns: repeat(2, auto);
    }
}

.article {
    position: relative;
    padding: 0 0 $theme-baseline * 2;
    overflow: hidden;
    color: initial;
    transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

    &:hover {
        opacity: .6;
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__title {
        font-size: size(lg);
    }

    &__picture {
        margin: 0;
        padding: 0;

        img {
            width: 100%;
        }
    }

    hr {
        width: $theme-baseline * 4;
        margin: $theme-baseline * 4 0;
        background-color: color(accent);
    }

    &__caption,
    &__author {
        text-transform: uppercase;
        font-size: size(xs);
        font-weight: weight(medium);
        margin: 0;
    }

    &__caption {
        color: color(grayscale, 300);
    }
}
