.article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--space-xl) 0;
  overflow: hidden;
  color: initial;
  border-bottom: 1px solid var(--color-grayscale-lighter);

  &:hover {
    .article__title {
      color: var(--color-primary-base);
    }
  }

  &__date {
    color: var(--color-grayscale-light);
    text-transform: uppercase;
  }

  &__title {
    --heading-margin-top: 0;
    --heading-margin-bottom: 0;
  }
}
