.footer {
  display: flex;
  flex-direction: column;
  padding: $theme-baseline * 3;
  background: color(primary);

  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  p {
    color: color(primary, 100);
    font-size: size(sm);
    text-align: center;

    @include tablet {
      text-align: left;
    }
  }
}
