.footer {
    display: flex;
    flex-direction: column;
    margin-top: $theme-baseline * 10;
    padding: $theme-baseline * 3;
    background: color(primary);

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    @include tablet {
        justify-content: space-between;
        flex-direction: row;
    }

    p {
        color: color(primary, 100);
        font-size: size('sm');
        text-align: center;

        @include tablet {
            text-align: left;
        }
    }
}
