footer.footer {
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--space-x-hg) * 2);

  @include tablet {
    justify-content: space-between;
    flex-direction: row;
  }

  p {
    margin-bottom: 0;
    color: var(--color-grayscale-base);
    font-size: var(--typography-sm);
    text-align: center;

    @include tablet {
      text-align: left;
    }
  }
}
