.header {
  display: flex;
  align-items: center;
  padding: $theme-baseline * 6 0;

  &:empty {
    display: none;
  }

  svg {
    position: absolute;
    right: $theme-baseline * 2;
    top: $theme-baseline * 2;
    width: $theme-baseline * 2;
    color: color(accent);
    cursor: pointer;

    &:hover {
        color: color(accent, 700);
    }
  }
}
