.header {
  display: flex;
  align-items: center;
  padding: $theme-baseline * 6 0;

  &:empty {
    display: none;
  }

  svg {
    position: absolute;
    right: $theme-baseline * 2;
    top: $theme-baseline * 2;
    width: $theme-baseline * 2;
    color: var(--color-accent-500);
    cursor: pointer;

    &:hover {
        color: var(--color-accent-dark);
    }
  }
}
