.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

    @include tablet {
        height: calc(60vh);
        padding: $theme-baseline * 4;
    }

    &__title {
        word-break: break-word;
    }

    &__publish {
        color: color(grayscale, 300);
        text-transform: uppercase;
    }
}
