/* stylelint-disable selector-max-type */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  &--blog {
    flex-direction: column;
    width: 100%;
    margin-top: $theme-baseline * 8;
    padding-top: $theme-baseline * 4;
    border-top: 1px solid color(grayscale, 200);

    @include tablet {
      flex-direction: row;
      width: 100%;
    }
  }

  &__item {
    position: relative;
    display: block;
    padding: $theme-baseline;
    color: inherit;
    font-size: size(sm);
    font-weight: weight(medium);
    text-decoration: none;
    text-transform: uppercase;

    span {
      position: relative;
      z-index: 1;
    }

    &::after {
      position: absolute;
      bottom: 0;
      display: block;
      width: $theme-baseline * 4;
      height: 2px;
      transform: scaleX(0);
      transform-origin: right center;
      transition: transform .4s cubic-bezier(.19, 1, .22, 1), opacity .6s cubic-bezier(.19, 1, .22, 1);
      background: color(primary);
      opacity: 0;
      content: "";
      z-index: 0;
    }

    @media (hover: hover) {
      &:hover {
        color: inherit;

        &::after {
          transform: none;
          transform-origin: left center;
          opacity: 1;
        }
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__prev,
  &__next {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: $theme-baseline 0;
    font-size: size(md);
    font-weight: weight(medium);
    text-align: center;
    cursor: pointer;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    span {
      color: color(grayscale, 200);
      font-size: size(sm);
      font-weight: weight(regular);
    }

    svg {
      width: $theme-baseline * 2;
    }
  }

  &__prev {
    @include tablet {
      text-align: left;

      a {
        justify-content: flex-start;
      }

      svg {
        margin-right: $theme-baseline / 2;
      }
    }
  }

  &__next {
    @include tablet {
      text-align: right;

      a {
        justify-content: flex-end;
      }

      svg {
        margin-left: $theme-baseline / 2;
      }
    }
  }
}
