.navigation {
    display: inline-flex;
    justify-content: space-between;

    &__item {
        text-decoration: none;
        color: inherit;
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: var(--typography-medium);
        font-size: var(--typography-lg);

        &.is-exact-active {
            color: var(--color-accent-base);
        }
    }
}
