.social {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;

  @include tablet {
    align-self: flex-end;
  }

  &__item {
    height: 100%;
    padding: $theme-baseline * 2;
    color: color(primary, 100);

    svg {
      width: size(sm);
      height: 100%;
      fill: currentColor;
    }

    &:focus,
    &:hover {
      color: color(primary, 300);
      outline: none;
    }
  }
}
