.fade-up-enter-active {
    transition: opacity .2s cubic-bezier(0.42, 0.05, 0.58, 1),
        transform .33s cubic-bezier(0.42, 0.05, 0.58, 1);
}

.fade-up-enter {
  opacity: 0;
  transform: translateY(60px);
}

.fade-up-leave-active {
    transition: opacity .1s cubic-bezier(0.42, 0.05, 0.58, 1);
}

.fade-up-leave-active {
  opacity: 0;
}

.fade-enter-active{
    transition: opacity .2s cubic-bezier(0.42, 0.05, 0.58, 1);
}

.fade-enter {
  opacity: 0;
}
