blockquote {
  position: relative;
  border: 0 solid #{color(info)};
  background-color: color(info, 300);
  color: color(info, 700);
  border-left-width: 4px;
  margin: $theme-baseline * 4 0;
  padding: $theme-baseline $theme-baseline * 3;

  p {
    margin: 0;
  }


  @include tablet {
    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      content: "❝";
      left: 0;
      top: 0;
      font-size: size(xl);
      position: absolute;
      background-color: color(info, 500);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      text-align: center;
      color: color(info, 700);
    }
  }
}
