code {
  display: inline-block;
  background-color: var(--color-accent-lighter);
  border-radius: var(--radius-xs);
  margin-bottom: var(--space-x-xs);
  font-size: var(--typography-sm);
  line-height: 1;
  white-space: nowrap;
  color: var(--color-accent-base);
  padding: var(--space-xs) var(--space-x-sm);
  font-family: monospace;
}
