.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(60vh);
  padding: var(--space-sm);
  text-align: center;

  @include tablet {
    min-height: 60vh;
    padding: var(--space-x-hg);
  }

  &__title {
    word-break: break-word;
  }

  &__date {
    color: var(--color-grayscale-light);
    text-transform: uppercase;
  }
}
