.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;

  padding: var(--space-sm);

  @include tablet {
    padding: var(--space-x-hg);
  }

  &__date {
    color: var(--color-grayscale-light);
    text-transform: uppercase;
  }
}
