.progress {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border: none;
  color: var(--color-primary-base);
  background: 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-webkit-progress-bar {
    background-color: transparent
  }

  &::-webkit-progress-value {
    background-color: var(--color-primary-base)
  }

  &::-moz-progress-bar {
    background-color: var(--color-primary-base)
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent
  }

  &__bar {
    display: block;
    width: 50%;
    height: inherit;
    background-color: var(--color-primary-base)
  }
}
