.progress {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 2px;
}

.progress::-webkit-progress-bar {
    background-color: transparent;
}

.progress::-webkit-progress-value {
    background-color: color(accent);
}

.progress::-moz-progress-bar {
    background-color: color(accent);
}
