.search {
  &__result {
    position: absolute;
    width: 100%;
    padding:  var(--space-xs) 0;

    @include breakpoint {
      min-width: $sidebar-width;
      position: absolute;
      right: 0;
    }

    .card {
      display: block;
      max-height: 320px;
      overflow-y: auto;

      &__body {
        padding:  var(--space-xs);
      }
    }
  }
}

.is-highlight {
  color: $theme-color-accent;
  text-decoration: underline;
}

.has-no-results {
  padding:0 var(--space-lg);
  font-weight: var(--typography-regular);
  text-align: center;

  span {
    font-weight: var(--typography-bold);
    color: $theme-color-accent;
  }
}

.fade-down-enter-active {
  transition:
  transform .2s cubic-bezier(1.0, 0.5, 0.8, 1.0),
  opacity .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-down-leave-active {
  transition:
  transform .1s cubic-bezier(1.0, 0.5, 0.8, 1.0),
  opacity .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-down-enter, .fade-down-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
