.social {
  display: grid;
  grid-template-columns: repeat(3, minmax(32px, auto));
  grid-template-rows: 32px;
  grid-gap: 16px;
  align-items: center;
  align-self: flex-end;
  justify-content: center;

  &__item {
    height: 100%;
    color: var(--color-grayscale-light);

    svg {
      width: var(--typography-sm);
      height: 100%;
      fill: currentColor;
    }

    &:focus,
    &:hover {
      color: var(--color-primary-base);
      outline: none;
    }
  }
}
