.social {
  display: grid;
  grid-template-columns: repeat(3, minmax(32px, auto));
  grid-template-rows: 32px;
  grid-gap: 16px;
  align-items: center;
  justify-content: center;

  &__item {
    padding: .5rem;
    height: 100%;
    color: var(--color-grayscale-light);


    svg {
      width: 1.125rem;
      height: 100%;
      fill: currentColor;
    }

    &:hover {
      color: var(--color-primary-base);
    }
  }
}
