/* stylelint-disable selector-max-type */
@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    $index: $i + 1;
    $o: nth($theme-font-sizes, $index);

    margin: $theme-baseline * 5 0 $theme-baseline * 2;
    font-size: size(nth($o, 1));
    line-height: 1.6;

    @include tablet {
      $index: $i;
      $o: nth($theme-font-sizes, $index);

      font-size: size(nth($o, 1));
    }
  }
}

h1,
h2,
h3,
h4 {
  font-family: $theme-font-family-serif;
}

p,
a,
li {
  font-size: size(base);
}

a {
  color: color(primary);
  text-decoration: none;

  &:hover {
    color: color(primary, 700);
  }
}
