$theme-colors: (
  "primary": #673ab7,
  "accent": #f3628d,
  "grayscale": #454b57,
  "warning": #f5c85c,
  "danger": #f26175,
  "info": #82a2ff,
  "success": #69dd95
) !default;

$theme-tones-light: (
  10: 93%,
  30: 50%
) !default;

$theme-tones-dark: (
  60: 10%,
  80: 50%,
) !default;

$header-height: 70px;
$sidebar-width: 320px;
