// Font Size
$theme-font-family-serif: "Work Sans", sans-serif !default;
$theme-font-family-monospace: monospace !default;
$theme-font-size: 18px !default;

$theme-colors: (
  "primary"   : #594CCA,
  "accent"    : #5ADD97,
  "grayscale" : #454b57,
  "warning"   : #f5c85c,
  "danger"    : #f26175,
  "info"      : #82a2ff,
  "success"   : #69dd95
) !default;

$theme-tones-light: (
  10: 80%,
  30: 30%
) !default;

$theme-tones-dark: (
  60: 10%,
  80: 50%,
) !default;

$theme-tones: (
  lighter: 10,
  light: 30,
  base: 50,
  dark: 60,
  darker: 80,
) !default;

$theme-color-primary: get-color(primary) !default;
$theme-color-accent: get-color(accent) !default;
$theme-color-base: get-color(grayscale) !default;

// Font Sizes
$theme-font-sizes: (
  "x-hg" : 66px,
  "hg"   : 48px,
  "x-xl" : 34px,
  "xl"   : 26px,
  "lg"   : 24px,
  "md"   : 20px,
  "base" : $theme-font-size,
  "sm"   : 16px,
  "x-sm" : 14px,
  "xs"   : 10px,
  "x-xs" : 8px
) !default;

// Font Weight
$theme-font-weight: (
  "light"   : 300,
  "regular" : 400,
  "medium"  : 700,
  "bold"    : 900
) !default;

$theme-spaces: (
  "x-hg"  : 68px,
  "hg"    : 52px,
  "xl"    : 42px,
  "lg"    : 36px,
  "md"    : 24px,
  "sm"   : 18px,
  "x-sm" : 16px,
  "xs"   : 12px,
  "x-xs" : 4px
) !default;

$theme-radius: (
  "hg": 32px,
  "xl": 42px,
  "lg": 16px,
  "md": 8px,
  "sm": 4px,
  "xs": 2px
) !default;

// Breakpoints
$theme-breakpoints: (
  "sm": 280px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1440px
) !default;

